<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="products">
      <ion-icon name="phone-portrait-outline"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="offers">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Offers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    

  </ion-tab-bar>

</ion-tabs>
